body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#flexineb{
    font-size: x-large;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#span1{
    color:  #66ccff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#span2{
    color: green;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#span3{
    text-align: right;
    color: lightgray;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#span4{
    text-align: left;
    color: lightgray;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#version{
    color: gray;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#compatable{
    color: black;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#os-name{
    color: black;
    text-decoration: black;
    font-weight: bold;
}

#gif{
    border-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}
.div1{
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

#trouble{
    font-size: 12px;
    color:  blue;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.prod1{
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: lightgray;
}

.devices{
    align-items: center;
    text-align: center;
}

/* INSTRUCTIONS PAGE CSS */
.btn {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50px;
    outline : none;
  }

  .btn:hover {
    background-color: white;
    color: black;
    outline : none;
    border: 2px solid black;
  }

.instructions{
    align-items: center;
    text-align: center;
    outline : none;
    padding-top: 10%;
}

.btn3{
    background-color: red;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50px;
    outline : none;
}
.btn3:hover {
    background-color: white;
    color: black;
    outline : none;
    border: 2px solid black;
}

/* A HREF LINKS */
a:hover {
    color:gray;
}
a:active {
    color: gray;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a{
    text-decoration: none;
}

.footer{
    word-spacing: 20px;
    bottom: 0%;
    position: fixed;
}


/* CONTACT PAGE CSS */

* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid black;
  border-radius: 50px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline : none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline : none;
}


input[type=submit]:hover {
  background-color: gray;
  outline : none;

}

.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  outline : none;

}

#submit{
    text-align: center;
}


/* UPDATE PAGE CSS */

.btn2 {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50px;
    outline : none;
  }

  .btn2:hover {
    background-color: white;
    color: black;
    outline : none;
    border: 2px solid black;
  }

  .updateDiv{
      padding-left: 5%;
      padding-top: 5%;

  }

  #modified{
      color: gray;
      padding-left: 5%;
  }

  
  