body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#flexineb{
    font-size: x-large;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#span1{
    color:  #66ccff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#span2{
    color: green;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#span3{
    text-align: right;
    color: lightgray;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#span4{
    text-align: left;
    color: lightgray;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#version{
    color: lightgray;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#compatable{
    color: black;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#gif{
    border-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}
.div1{
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

#trouble{
    font-size: 12px;
    color:    #262626;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.prod1{
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: lightgray;
}

.devices{
    align-items: center;
    text-align: center;
}

.btn {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50px;
  }

  .btn:hover {
    background-color: gray;
  }

.instructions{
    align-items: center;
    text-align: center;
}

/* A HREF LINKS */
a:hover {
    color:gray;
}
a:active {
    color: gray;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a{
    text-decoration: none;
}

.footer{
    word-spacing: 20px;
    bottom: 0%;
    position: fixed;
}

  
  